--color_White: #fff8e7;

--color_Black_light: 22eE2E;
--color_Black_base: 242424;
--color_Black_dark: 1A1A1A;

--color_Red_light: FFCCCC;
--color_Red_base: FF9999;
--color_Red_dark: FF6666;
--color_Red_darker: 800000;

--color_Yellow_light: FFFFCC;
--color_Yellow_base: FFFF99;
--color_Yellow_dark: FFFF66;
--color_Yellow_darker: 7F8000;

--color_Green_light: CCFFCC;
--color_Green_base: 99FF99;
--color_Green_dark: 66FF66;
--color_Green_darker: 008000;

--color_Cyan_light: CCFFFF;
--color_Cyan_base: 99FFFF;
--color_Cyan_dark: 66FFFF;
--color_Cyan_darker: 007F80;

--color_Lavender_light: CCCCFF;
--color_Lavender_base: 9999FF;
--color_Lavender_dark: 6666FF;
--color_Lavender_darker: 000080;

--color_Magenta_light: FFCCFF;
--color_Magenta_base: FF99FF;
--color_Magenta_dark: FF66FF;
--color_Magenta_darker: 80007F;

--color_Golden_light: EBE9E0;
--color_Golden_base: D7D3C1;
--color_Golden_dark: C3BDA2;
--color_Golden_semi_darker: A59C73;
--color_Golden_darker: 4e4932;
--color_Golden_darkest: 2F2C1E;
